<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu left-side-menu-detached mm-active">

    <div class="leftbar-logo">
        <span class="leftbar-logo-matusek">Matusek</span>
        <span class="leftbar-user-solutions">solutions</span>
    </div>

    <!--- Sidemenu -->
    <ul class="metismenu side-nav mm-show">

        <li class="side-nav-title side-nav-item">Navigation</li>

        <li class="side-nav-item">
            <a class="side-nav-link" routerLink="/">
                <i class="uil-user"></i>
                <span>About</span>
            </a>
        </li>

        <li class="side-nav-item">
            <a class="side-nav-link" routerLink="/activity">
                <i class="uil-history"></i>
                <span>Activity</span>
            </a>
        </li>

        <li class="side-nav-item">
            <a class="side-nav-link" routerLink="/contact">
                <i class="uil-envelope-alt"></i>
                <span>Contact</span>
            </a>
        </li>

        <li class="side-nav-title side-nav-item">Application</li>

        <li class="side-nav-item">
            <a class="side-nav-link">
                <i class="uil-sign-in-alt"></i>
                <span>Login</span>
            </a>
        </li>
    </ul>
    <!-- End Sidebar -->

    <div class="clearfix"></div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->