<body class="" data-layout="topnav" data-layout-config="{&quot;layoutBoxed&quot;:false,&quot;darkMode&quot;:false,&quot;showRightSidebarOnStart&quot;: true}" data-layout-mode="fluid">
        <div class="wrapper">
            <div class="content-page">
                
                <div class="content">
                    <app-top-bar></app-top-bar>
                    <app-top-navigation></app-top-navigation>
                </div>

                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                Footer
                            </div>
                        </div>
                    </div>
                </footer>

            </div>
        </div>
        
        <div class="rightbar-overlay"></div>
        <script src="assets/js/vendor.min.js"></script>
        <script src="assets/js/app.min.js"></script>
</body>