<div class="content">
                
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Root</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Login</a></li>
                    </ol>
                </div>
                <h4 class="page-title">Login</h4>
            </div>
        </div>
    </div>     
    <!-- end page title --> 

    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card text-center">
                <div class="card-body">
                    In progress ...
                </div>
            </div>
        </div>
    </div>

</div>