<div class="content">
                
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Root</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">About</a></li>
                    </ol>
                </div>
                <h4 class="page-title">About me</h4>
            </div>
        </div>
    </div>     
    <!-- end page title --> 

    <div class="row">
        <div class="col-xl-4 col-lg-5">
            <div class="card text-center">
                <div class="card-body">
                    <img src="assets/images/users/avatar-11.jpeg" class="rounded-circle avatar-xxl img-thumbnail" alt="profile-image">

                    <h3 class="mb-1 mt-2">Tomáš Matúšek</h3>
                    <p class="text-muted font-15">Java Full Stack Developer, Technology Enthusiast</p>

                    <!--
                    <button type="button" class="btn btn-info btn-sm mb-2 mr-2">
                        Download CV
                    </button>

                    <button type="button" class="btn btn-info btn-sm mb-2">
                        Contact me
                    </button>
                    -->

                    <div class="text-left mt-4">
                        <h4 class="font-14 text-uppercase">About Me :</h4>
                        <p class="text-muted font-14 mb-3">
                            Hi there! I’m Tomas and I’m 30. I live in Bratislava (Slovakia). I love to code and everything related to programming, technology and science. 
                            I started my carrer as a web developer more than 15 years ago. In that time I tried many technologies and languages as PHP, Java, JS, C++, .NET, Css, MySQL, 
                            Docker, GiT, Jenkins, Spring, AngularJs, Android development and many and many of others. Last 6 years I was coding mainly in Java as back-end senior 
                            developer working on Clous based solutions for our clients aournd the globe. In my free time I love to code, spent time with my family and read books.
                        </p>
                        <p class="text-muted mb-2 font-14"><strong>Status :</strong><span class="ml-2">Not looking for job</span></p>
                        <p class="text-muted mb-2 font-14"><strong>Full Name :</strong><span class="ml-2">Bc. Tomáš Matúšek</span></p>
                        <p class="text-muted mb-2 font-14"><strong>Email :</strong> <span class="ml-2 ">tomas.matusek@hotmail.co.uk</span></p>
                        <p class="text-muted mb-2 font-14"><strong>Langauges :</strong> <span class="ml-2">Slovak (native), English (B2)</span></p>
                        <p class="text-muted mb-2 font-14"><strong>Place of work :</strong> <span class="ml-2">Bratislava (Slovak Republic)</span></p>
                        <p class="text-muted mb-2 font-14"><strong>Primary job category :</strong> <span class="ml-2">Senior Java developer</span></p>
                    </div>

                    <ul class="social-list list-inline mt-3 mb-0">
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/tomáš-matúšek-68281083" target="_blank" class="social-list-item border-primary text-primary"><i class="mdi mdi-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/MatusekTomas" target="_blank" class="social-list-item border-info text-info"><i class="mdi mdi-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/TomasMatusek/" target="_blank" class="social-list-item border-secondary text-secondary"><i class="mdi mdi-github-circle"></i></a>
                        </li>
                    </ul>
                </div> <!-- end card-body -->
            </div> <!-- end card -->

        </div> <!-- end col-->

        <div class="col-xl-8 col-lg-7">
            <div class="card">
                <div class="card-body">

                    <h5 class="text-uppercase">Experience</h5>

                    <div class="timeline-alt pb-0">
                        <div class="timeline-item">
                            <i class="mdi mdi-circle bg-primary-lighten text-primary timeline-icon"></i>
                            <div class="timeline-item-info">
                                <h5 class="mt-0 mb-1">JAVA senior backend developer</h5>
                                <p class="font-14">Foundation s.r.o.<span class="ml-2 font-12">Year: 2015 - now</span></p>
                                <p class="text-muted mt-2 mb-0 pb-3">As a senior java backend developer I am resposible for analasys, design and implementation of integral parts of our 
                                    product - Cloud based solution. We provide cloud based file shrading, synchronisation and back of files across multiple platforms and multiple region 
                                    in the world. Our goal is to provide fast and efficient file sharing with security at the first place.</p>
                                <p>
                                    <span class="badge badge-primary badge-xl mr-1">Java</span>
                                    <span class="badge badge-primary badge-xl mr-1">Spring Framework</span>
                                    <span class="badge badge-primary badge-xl mr-1">REST API</span>
                                    <span class="badge badge-primary badge-xl mr-1">MySQL</span>
                                    <span class="badge badge-primary badge-xl mr-1">Hazelcast</span>
                                    <span class="badge badge-primary badge-xl mr-1">Maven</span>
                                    <span class="badge badge-primary badge-xl mr-1">JSP</span>
                                    <span class="badge badge-primary badge-xl mr-1">GIT</span>
                                    <span class="badge badge-primary badge-xl mr-1">Jira</span>
                                    <span class="badge badge-primary badge-xl mr-1">Gitlab</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-alt pb-0">
                        <div class="timeline-item">
                            <i class="mdi mdi-circle bg-info-lighten text-info timeline-icon"></i>
                            <div class="timeline-item-info">
                                <h5 class="mt-0 mb-1">JAVA full stack developer</h5>
                                <p class="font-14">IT-Developemnt s.r.o.<span class="ml-2 font-12">Year: 2013 - 2015</span></p>
                                <p class="text-muted mt-2 mb-0 pb-3">As a full stack developer I was working in small international team focusing on analysis, design, implementation 
                                    and maintenance of single page internet applications for telecom operators from Europa, Asia, Africa. As a team we were using Scrum metodology for planing and 
                                    technologies as AngularJS, Spring Framework, GiT, Camund BPM, Docker, Jenkins and others. System was used during constrcution and planing of building new 
                                    telecom networks and uses Camunda BPM for documents validation and work flow constructon process.
                                </p>
                                <p>
                                    <span class="badge badge-primary badge-xl mr-1">Java</span>
                                    <span class="badge badge-primary badge-xl mr-1">AngularJS</span>
                                    <span class="badge badge-primary badge-xl mr-1">PostgreSQL</span>
                                    <span class="badge badge-primary badge-xl mr-1">Spring Framework</span>
                                    <span class="badge badge-primary badge-xl mr-1">SCRUM</span>
                                    <span class="badge badge-primary badge-xl mr-1">Camunda BPM</span>
                                    <span class="badge badge-primary badge-xl mr-1">GIT</span>
                                    <span class="badge badge-primary badge-xl mr-1">Maven</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-alt pb-0">
                        <div class="timeline-item">
                            <i class="mdi mdi-circle bg-info-lighten text-info timeline-icon"></i>
                            <div class="timeline-item-info">
                                <h5 class="mt-0 mb-1">Web designer / developer</h5>
                                <p class="font-14">Infotex s.r.o. <span class="ml-2 font-12">Year: 2008 - 2013</span></p>
                                <p class="text-muted mt-2 mb-0 pb-3">As developer I was responsible for building web sites and intranet applications based on customer's requirements.
                                    Developments of custom modules and plugins for PHP content management systems and PHP frameworks. Experience with Joomla MVC modules, plugins, 
                                    Wordpress modules, Laverel, Codeigniter and Cake PHP frameworks. Others technology used on daily basis: MySQL, CSS framework twitter bootstrap, JavaScript, 
                                    jQuery, Html and GIT versioning system.
                                </p>
                                <p>
                                    <span class="badge badge-primary badge-xl mr-1">PHP</span>
                                    <span class="badge badge-primary badge-xl mr-1">CSS</span>
                                    <span class="badge badge-primary badge-xl mr-1">Javascript</span>
                                    <span class="badge badge-primary badge-xl mr-1">MySQL</span>
                                    <span class="badge badge-primary badge-xl mr-1">HTML</span>
                                    <span class="badge badge-primary badge-xl mr-1">PHP Frameworks</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <h5 class="text-uppercase mt-4">Education</h5>

                    <div class="timeline-alt pb-0">
                        <div class="timeline-item">
                            <i class="mdi mdi-circle bg-primary-lighten text-primary timeline-icon"></i>
                            <div class="timeline-item-info">
                                <h5 class="mt-0 mb-1">Comenius University in Bratislava, Slovakia</h5>
                                <p class="font-14">Bachelor's degree in the field Management and Informatics<span class="ml-2 font-12">Year: 2012 - 2015</span></p>
                            </div>
                        </div>

                        <div class="timeline-item">
                            <i class="mdi mdi-circle bg-info-lighten text-info timeline-icon"></i>
                            <div class="timeline-item-info">
                                <h5 class="mt-0 mb-1">Gymnasium Ostredkova in Bratislava, Slovakia</h5>
                                <p class="font-14">Graduation exam<span class="ml-2 font-12">Year: 2001 - 2009</span></p>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card body -->
            </div> <!-- end card -->
        </div> <!-- end col -->
    </div>
    <!-- end row-->
    
</div> <!-- End Content -->