<div class="content">
                
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Root</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">About</a></li>
                    </ol>
                </div>
                <h4 class="page-title">About me</h4>
            </div>
        </div>
    </div>     
    <!-- end page title --> 

    <div class="row">
        <div class="col-xl-4 col-lg-5">
            <div class="card text-center">
                <div class="card-body">
                    <img src="assets/images/users/avatar-11.jpeg" class="rounded-circle avatar-xxl img-thumbnail" alt="profile-image">

                    <h3 class="mb-1 mt-2">Tomáš Matúšek</h3>
                    <p class="text-muted font-15">Full Stack Developer, Technology Enthusiast</p>
                    
                    <button type="button" class="btn btn-info btn-sm mb-2 mr-2">
                        Download CV
                    </button>

                    <button type="button" class="btn btn-info btn-sm mb-2">
                        Contact me
                    </button>

                    <div class="text-left mt-4">
                        <h4 class="font-14 text-uppercase">About Me :</h4>
                        <p class="text-muted font-14 mb-3">
                            Hi there! I’m Tomas and I’m 30. I live in Bratislava. I love to code and everything related to programming, technology and science. I started my carrer as web developer using CSS, HTML, PHP and MySQL more than 15 years ago. Later I started to work as Full stack developer using AngularJS, Spring Framewrok and other technologies. Last 6 years I was coding mainly in Java as back-end  senior developer working on various Clous based solutions for our clients. In my free time I love to code, spent time with my family and read books.
                        </p>
                        <p class="text-muted mb-2 font-14"><strong>Status :</strong><span class="ml-2">
                            <span class="badge badge-danger badge-xl mr-1">
                                Not looking for job
                            </span>
                        </span></p>
                        <p class="text-muted mb-2 font-14"><strong>Full Name :</strong><span class="ml-2">Bc. Tomáš Matúšek</span></p>
                        <p class="text-muted mb-2 font-14"><strong>Email :</strong> <span class="ml-2 ">tomas.matusek@hotmail.co.uk</span></p>
                        <p class="text-muted mb-2 font-14"><strong>Location :</strong> <span class="ml-2">Bratislava (Slovak Republic)</span></p>
                        <p class="text-muted mb-2 font-14"><strong>Possition :</strong> <span class="ml-2">Senior Java developer</span></p>
                        <p class="text-muted mb-2 font-14"><strong>Langauges :</strong> <span class="ml-2">Slovak (native), English (B2)</span></p>
                    </div>

                    <ul class="social-list list-inline mt-3 mb-0">
                        <li class="list-inline-item">
                            <a href="javascript: void(0);" class="social-list-item border-primary text-primary"><i class="mdi mdi-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="javascript: void(0);" class="social-list-item border-info text-info"><i class="mdi mdi-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i class="mdi mdi-github-circle"></i></a>
                        </li>
                    </ul>
                </div> <!-- end card-body -->
            </div> <!-- end card -->

            <!-- Messages-->
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-3">Skills</h4>

                    <h5 class="mb-1 mt-0 font-weight-normal">Java</h5>
                    <div class="progress-w-percent">
                        <span class="progress-value font-weight-bold">80%</span>
                        <div class="progress progress-sm">
                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    
                    <h5 class="mb-1 mt-0 font-weight-normal">Spring boot</h5>
                    <div class="progress-w-percent">
                        <span class="progress-value font-weight-bold">80%</span>
                        <div class="progress progress-sm">
                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <h5 class="mb-1 mt-0 font-weight-normal">SQL</h5>
                    <div class="progress-w-percent">
                        <span class="progress-value font-weight-bold">80%</span>
                        <div class="progress progress-sm">
                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <h5 class="mb-1 mt-0 font-weight-normal">GIT</h5>
                    <div class="progress-w-percent">
                        <span class="progress-value font-weight-bold">80%</span>
                        <div class="progress progress-sm">
                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <h5 class="mb-1 mt-0 font-weight-normal">SQL</h5>
                    <div class="progress-w-percent">
                        <span class="progress-value font-weight-bold">80%</span>
                        <div class="progress progress-sm">
                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div> <!-- end card-body-->
            </div> <!-- end card-->

        </div> <!-- end col-->

        <div class="col-xl-8 col-lg-7">
            <div class="card">
                <div class="card-body">

                    <h5 class="text-uppercase">Experience</h5>

                    <div class="timeline-alt pb-0">
                        <div class="timeline-item">
                            <i class="mdi mdi-circle bg-info-lighten text-info timeline-icon"></i>
                            <div class="timeline-item-info">
                                <h5 class="mt-0 mb-1">Lead designer / Developer</h5>
                                <p class="font-14">websitename.com <span class="ml-2 font-12">Year: 2015 - 18</span></p>
                                <p class="text-muted mt-2 mb-0 pb-3">Everyone realizes why a new common language
                                    would be desirable: one could refuse to pay expensive translators.
                                    To achieve this, it would be necessary to have uniform grammar,
                                    pronunciation and more common words.</p>
                            </div>
                        </div>

                        <div class="timeline-item">
                            <i class="mdi mdi-circle bg-primary-lighten text-primary timeline-icon"></i>
                            <div class="timeline-item-info">
                                <h5 class="mt-0 mb-1">Senior Graphic Designer</h5>
                                <p class="font-14">Software Inc. <span class="ml-2 font-12">Year: 2012 - 15</span></p>
                                <p class="text-muted mt-2 mb-0 pb-3">If several languages coalesce, the grammar
                                    of the resulting language is more simple and regular than that of
                                    the individual languages. The new common language will be more
                                    simple and regular than the existing European languages.</p>

                            </div>
                        </div>

                        <div class="timeline-item">
                            <i class="mdi mdi-circle bg-info-lighten text-info timeline-icon"></i>
                            <div class="timeline-item-info">
                                <h5 class="mt-0 mb-1">Graphic Designer</h5>
                                <p class="font-14">Coderthemes Design LLP <span class="ml-2 font-12">Year: 2010 - 12</span></p>
                                <p class="text-muted mt-2 mb-0 pb-2">The European languages are members of
                                    the same family. Their separate existence is a myth. For science
                                    music sport etc, Europe uses the same vocabulary. The languages
                                    only differ in their grammar their pronunciation.</p>
                            </div>
                        </div>
                    </div>

                    <h5 class="text-uppercase mt-4">Education</h5>

                    <div class="timeline-alt pb-0">
                        <div class="timeline-item">
                            <i class="mdi mdi-circle bg-info-lighten text-info timeline-icon"></i>
                            <div class="timeline-item-info">
                                <h5 class="mt-0 mb-1">Lead designer / Developer</h5>
                                <p class="font-14">websitename.com <span class="ml-2 font-12">Year: 2015 - 18</span></p>
                                <p class="text-muted mt-2 mb-0 pb-3">Everyone realizes why a new common language
                                    would be desirable: one could refuse to pay expensive translators.
                                    To achieve this, it would be necessary to have uniform grammar,
                                    pronunciation and more common words.</p>
                            </div>
                        </div>

                        <div class="timeline-item">
                            <i class="mdi mdi-circle bg-primary-lighten text-primary timeline-icon"></i>
                            <div class="timeline-item-info">
                                <h5 class="mt-0 mb-1">Senior Graphic Designer</h5>
                                <p class="font-14">Software Inc. <span class="ml-2 font-12">Year: 2012 - 15</span></p>
                                <p class="text-muted mt-2 mb-0 pb-3">If several languages coalesce, the grammar
                                    of the resulting language is more simple and regular than that of
                                    the individual languages. The new common language will be more
                                    simple and regular than the existing European languages.</p>

                            </div>
                        </div>

                        <div class="timeline-item">
                            <i class="mdi mdi-circle bg-info-lighten text-info timeline-icon"></i>
                            <div class="timeline-item-info">
                                <h5 class="mt-0 mb-1">Graphic Designer</h5>
                                <p class="font-14">Coderthemes Design LLP <span class="ml-2 font-12">Year: 2010 - 12</span></p>
                                <p class="text-muted mt-2 mb-0 pb-2">The European languages are members of
                                    the same family. Their separate existence is a myth. For science
                                    music sport etc, Europe uses the same vocabulary. The languages
                                    only differ in their grammar their pronunciation.</p>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card body -->
            </div> <!-- end card -->
        </div> <!-- end col -->
    </div>
    <!-- end row-->
    
</div> <!-- End Content -->